USE [master]
GO
/****** Object:  Database [TASK_MANAGEMENT]    Script Date: 2/25/2024 11:56:02 AM ******/
CREATE DATABASE [TASK_MANAGEMENT]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TASK_MANAGEMENT', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\TASK_MANAGEMENT.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TASK_MANAGEMENT_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\TASK_MANAGEMENT_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TASK_MANAGEMENT].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TASK_MANAGEMENT]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 2/25/2024 11:56:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaskData]    Script Date: 2/25/2024 11:56:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaskData](
	[TASK_ID] [int] IDENTITY(1,1) NOT NULL,
	[USERNAME] [nvarchar](max) NULL,
	[TITLE] [nvarchar](max) NULL,
	[DESCRIPTION] [nvarchar](100) NOT NULL,
	[CREATED_DTM] [datetime2](7) NOT NULL,
	[IS_COMPLETED] [bit] NOT NULL,
	[COMPLETED_DTM] [datetime2](7) NOT NULL,
	[IS_EDITED] [bit] NOT NULL,
	[EDITED_DTM] [datetime2](7) NOT NULL,
	[IS_DELETED] [bit] NOT NULL,
	[DELETED_DTM] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_TaskData] PRIMARY KEY CLUSTERED 
(
	[TASK_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserData]    Script Date: 2/25/2024 11:56:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserData](
	[USER_ID] [int] IDENTITY(1,1) NOT NULL,
	[USERNAME] [nvarchar](max) NULL,
	[PASSWORD] [nvarchar](max) NULL,
 CONSTRAINT [PK_UserData] PRIMARY KEY CLUSTERED 
(
	[USER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
